@page
@model WA_Kingpos.Pages.CuaHang.EditModel
@{
    ViewData["Title"] = "Sửa Cửa Hàng";
    ViewData["Name"] = "cuahang";
}
<div class="row">
    <div class="col-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"]</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="item.ten_cuahang" class="control-label">Tên</label>
                        <input type="text" asp-for="item.ten_cuahang" class="form-control" />
                        <span asp-validation-for="item.ten_cuahang" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="item.ghichu" class="control-label">Ghi chú</label>
                        <input type="text" asp-for="item.ghichu" class="form-control" />
                        <span asp-validation-for="item.ghichu" class="text-danger"></span>
                    </div>
                    <div class="form-check">
                        <input asp-for="item.sudung" type="checkbox" class="form-check-input" checked>
                        <label asp-for="item.sudung" class="form-check-label">Sử dụng</label>
                        <span asp-validation-for="item.sudung" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Lưu" class="btn btn-success" />
                    </div>
                </form>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <a class="btn btn-primary" role="button" asp-page="Index">Trở lại danh sách</a>
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->