@page
@model WA_Kingpos.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "404 Page not found";
}
<div class="row">
    <div class="col-12">
        <div class="error-page">
            <h2 class="headline text-warning"> 404</h2>

            <div class="error-content">
                <h3><i class="fas fa-exclamation-triangle text-warning"></i> Ối! Không tìm thấy trang.</h3>

                <p>
                    Chúng tôi không thể tìm thấy trang bạn đang tìm kiếm.
                    Vui lòng kiểm tra lại phân quyền . Liên hệ admin để được cấp quyền truy cập chức năng này. 
                    Trong thời gian chờ đợi, bạn có thể quay lại <a href="Index">Trang chủ</a>,sử dụng chức năng khác, hoặc thử lại lần nữa.
                </p>
            </div>
            <!-- /.error-content -->
        </div>
        <!-- /.error-page -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->