@page
@model WA_Kingpos.Pages.KHACHANG.KhachHangCreateModel
@{
    ViewData["Title"] = "Thêm Khách Hàng";
    ViewData["Name"] = "finakhachhang";
}

<div class="row">
    <div class="col-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"]</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <form method="post">
                    @if (TempData["AlertMessage"] != null)
                    {
                        <div id="AlertBox" class="alert @TempData["AlertType"] hide" role="alert">
                            @TempData["AlertMessage"]
                        </div>
                    }
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group" hidden>
                        <label asp-for="item.ID" class="control-label">ID</label>
                        <input type="text" asp-for="item.ID" class="form-control" value=@Model.sIDKHTT readonly="readonly" />
                        <span asp-validation-for="item.ID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="item.TEN" class="control-label">Tên</label>
                        <input type="text" asp-for="item.TEN" value=@Model.sTen class="form-control" />
                        <span asp-validation-for="item.TEN" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="item.DIACHI" class="control-label">Địa chỉ</label>
                        <input type="text" asp-for="item.DIACHI" value=@Model.sDiaChi class="form-control" />
                        <span asp-validation-for="item.DIACHI" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="item.DIENTHOAI" class="control-label">Điện thoại</label>
                        <input type="tel" asp-for="item.DIENTHOAI" class="form-control" />
                        <span asp-validation-for="item.DIENTHOAI" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="item.EMAIL" class="control-label">Email</label>
                        <input type="email" asp-for="item.EMAIL" class="form-control" />
                        <span asp-validation-for="item.EMAIL" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="item.FAX" class="control-label">Mã Số Thuế</label>
                        <input type="text" asp-for="item.FAX" value=@Model.sMST class ="form-control" />
                        <span asp-validation-for="item.FAX" class="text-danger"></span>
                        <br/>
                        <button type="submit" asp-page-handler="Search" name="Id" class="btn btn-info btn-sm">Tìm công ty theo Mã Số Thuế</button>
                    </div>
                    <div class="form-group">
                        <label asp-for="item.CMND" class="control-label">CMT/CCCD</label>
                        <input type="text" asp-for="item.CMND" class="form-control" />
                        <span asp-validation-for="item.CMND" class="text-danger"></span>
                    </div>
                    <div class="form-check">
                        <input asp-for="item.SUDUNG" type="checkbox" class="form-check-input" checked>
                        <label asp-for="item.SUDUNG" class="form-check-label">Sử dụng</label>
                        <span asp-validation-for="item.SUDUNG" class="text-danger" asp-page-handler="Luu"></span>
                    </div>
                    <br/>
                    <div class="form-group">
                        <button type="submit" asp-page-handler="Luu" name="Id2" class="btn btn-success">Lưu</button>
                    </div>
                   
                </form>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <a class="btn btn-primary" role="button" asp-page="Index">Trở lại danh sách</a>
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->